{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class="w-full h-screen overflow-hidden">
    {% include 'partials/searchBar.html.twig' %}
    <div class="w-full h-full bg-no-repeat flex-grow  bg-cover bg-center z-0" style="background-image: url('{{ game.image }}')">
        <div class="w-full h-full   bg-zinc-950 bg-opacity-80 z-50">
            <div class="h-full w-full flex flex-col items-center">
                <div class=" flex flex-col justify-start sm:w-full md:w-full w-2/3 items-center text-center sm:p-5 md:p-7 lg:py-20 xl:p-20">
                    <p class="text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-3xl">"{{ game.quote}}" --{{ game.author }}, {{ game.game}} </p>
                </div>
                <div class="w-full flex justify-center items-center bg-transparent">
                    <form method="post" class="flex flex-col bg-blue-950 w-96 h-64 opacity-90 rounded text-center border-2 border-slate-900 p-5">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail">Email</label>
                        <input class="text-black" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label  for="inputPassword">Password</label>
                        <input class="text-black" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        <button class="btn btn-lg btn-primary font-bold border-2 border-white w-20 self-center mb-2 mt-4 hover:bg-white hover:text-slate-900 hover:border-slate-900" type="submit">
                            Sign in
                        </button>
                        <label>Don't have an account ? <a href="{{ path('app_register') }}" class="hover:text-indigo-500 font-bold">Create one here.</a></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

