{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class="w-full h-screen bg-no-repeat bg-cover z-0" style="background-image: url('{{ game.image }}')">
    <div class="w-full h-full flex flex-col justify-center items-center bg-zinc-950 bg-opacity-80 z-50">
        <div class=" flex flex-col justify-center w-2/3 items-center text-center pb-24">
            <p class="text-4xl ">"{{ game.quote}}" --{{ game.author }}, {{ game.game}} </p>
        </div>
        <div class="w-full flex justify-center items-center bg-transparent">
            <form method="post" class="flex flex-col bg-blue-950 w-96 h-64 opacity-90 rounded text-center border-2 border-slate-900 p-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input class="text-black" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label  for="inputPassword">Password</label>
                <input class="text-black" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

