{% extends 'base.html.twig' %}

{% block title %}Genres
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="w-full">
		{% include 'partials/searchBar.html.twig' %}
		<div class="header"></div>
		<div class="flex flex-wrap justify-center">
			<a class="m-2" href="{{ path('app_genre', {'genre': 'action'}) }}">
				<div class="w-72 h-72 bg-cover bg-center ease-in duration-300 hover:scale-105 rounded" style="background-image: url('/assets/genre/action.webp');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Action</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'adventure'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-right" style="background-image: url('/assets/genre/adventure.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Adventure</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'arcade'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-right" style="background-image: url('/assets/genre/arcade.avif');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Arcade</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'board-games'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/board.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Board Games</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'card'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/card.avif');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Card</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'casual'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/casual.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Casual</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'educational'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/educational.jpeg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Educational</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'family'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/family.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Family</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'fighting'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/fighter.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Fighting</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'Indie'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/indie.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Indie</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'massively-multiplayer'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/mmo.webp');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex text-center items-center">
						<p class="text-4xl font-kanit">Massively Multiplayer</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'platformer'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/platformer.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Platformer</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'puzzle'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/puzzle.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Puzzle</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'racing'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/racing.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Racing</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'role-playing-games-rpg'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/rpg.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">RPG</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'shooter'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/shooter.webp');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Shooter</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'simulation'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/simulation.jpg');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Simulation</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'sports'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/sport.webp');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Sports</p>
					</div>
				</div>
			</a>
			<a class="m-2" href="{{ path('app_genre', {'genre': 'strategy'}) }}">
				<div class="w-72 h-72 bg-cover hover:scale-105 ease-in duration-300 rounded bg-center" style="background-image: url('/assets/genre/strategy.png');">
					<div class="bg-slate-900 font-bold bg-opacity-80 hover:bg-opacity-60 h-full w-full flex justify-center items-center">
						<p class="text-4xl font-kanit">Strategy</p>
					</div>
				</div>
			</a>


		</div>
	</div>

{% endblock %}
