<div class="flex flex-wrap justify-center">
	{% for game in games %}
		<div class="bg-gray-800 text-white m-2 flex flex-col w-96 rounded-lg dp08">

			{% if game.screenshots %}
				<div class="screenshots" data-game-screenshots="{{ game.screenshots|json_encode }}">
					<img class="h-200 object-cover rounded-t-lg screenshot-image" src="{{ game.screenshots[0] }}" alt="Screenshot">
				</div>
			{% endif %}

			<div class="cardContent">
				<div class="flex justify-between p-2 font-bold text-xl text-indigo-100 hover:text-indigo-500">
					<a href="{{ path('app_game_details', {'id': game.gameId}) }}">
						<h2>{{game.title}}</h2>
					</a>
					{% if game.metacritics %}
						{% if game.metacritics > 66 %}
							<div class="w-8 h-8 border-2 border-green-500 flex justify-center items-center font-bold text-xl text-green-500 p-1">
								<p class="text-green-500">{{game.metacritics}}</p>
							</div>
						{% elseif game.metacritics > 33 %}
							<div class="w-8 h-8 border-2 border-yellow-500 flex justify-center items-center font-bold text-xl text-yellow-500 p-1">
								<p class="text-yellow-500">{{game.metacritics}}</p>
							</div>
						{% else %}
							<div class="w-8 h-8 border-2 border-red-500 flex justify-center items-center font-bold text-xl text-red-500 p-1">
								<p class="text-red-500">{{game.metacritics}}</p>
							</div>
						{% endif %}
					{% endif %}
				</div>
				<div class="ml-2 ">
					{% for parentPlatform in game.parentPlatform %}
						<div class=" ml-1 p-1 bg-white  rounded-full h-6 w-6 flex justify-center items-center">
							<img src="{{ asset('assets/image/' ~ parentPlatform ~ '.svg') }}" alt="{{ parentPlatform }}"/>
						</div>
					{% endfor %}
				</div>
				<div class="flex justify-between p-2">
					<div class="flex">
						<p>Genre{% if game.genres|length > 1 %}s{% endif %} : </p>
						{% for genre in game.genres %}
							<a class="ml-1 text-indigo-100 hover:text-indigo-500" href="{{ path('app_genre', {'genre': genre.name}) }}">{{genre.name}}</a>
						{% endfor %}
						{# verifier si l'utilisateur à ajouter le jeu ou non #}
					</div>
					<div>
						{% if app.user is empty %}
							<a href="{{ path('app_login') }}">LOG IN TO ADD</a>
						{% elseif game.gameUsers is not empty %}
							{% for gameUser in game.gameUsers %}
								<a href="{{ path('app_remove', {'gameUserId': gameUser.id}) }}">REMOVE</a>
							{% endfor %}
						{% else %}
							<a href="{{ path('app_add_game', {'id': game.gameId}) }}">ADD</a>
						{% endif %}
					</div>
				</div>
			</div>


		</div>
	{% endfor %}
</div>
