<div class="flex flex-wrap justify-center">
	{% for game in games %}
		<div class="bg-gray-800 text-white m-2 flex flex-col w-96 rounded-lg dp08">

			{% if game.screenshots %}
				<div class="screenshots" data-game-screenshots="{{ game.screenshots|json_encode }}">
					<img class="h-200 object-cover rounded-t-lg screenshot-image" src="{{ game.screenshots[0] }}" alt="Screenshot">
				</div>
			{% endif %}

			<div class="cardContent">
				<div class="flex justify-between p-2 font-bold text-xl text-indigo-100 hover:text-indigo-500">
					<a href="{{ path('app_game_details', {'id': game.gameId}) }}">
						<h2>{{game.title}}</h2>
					</a>
					{% if game.metacritics %}
						{% if game.metacritics > 66 %}
							<div class="w-8 h-8 border-2 border-green-500 flex justify-center items-center font-bold text-xl text-green-500 p-1">
								<p class="text-green-500">{{game.metacritics}}</p>
							</div>
						{% elseif game.metacritics > 33 %}
							<div class="w-8 h-8 border-2 border-yellow-500 flex justify-center items-center font-bold text-xl text-yellow-500 p-1">
								<p class="text-yellow-500">{{game.metacritics}}</p>
							</div>
						{% else %}
							<div class="w-8 h-8 border-2 border-red-500 flex justify-center items-center font-bold text-xl text-red-500 p-1">
								<p class="text-red-500">{{game.metacritics}}</p>
							</div>
						{% endif %}
					{% endif %}
				</div>
				<div class="ml-2 ">
					{% for parentPlatform in game.parentPlatform %}
						<div class=" ml-1 p-1 bg-white  rounded-full h-6 w-6 flex justify-center items-center">
							<img src="{{ asset('assets/image/' ~ parentPlatform ~ '.svg') }}" alt="{{ parentPlatform }}"/>
						</div>
					{% endfor %}
				</div>
				<div class="flex justify-between p-2">
					<div class="flex">
						<p>
							Genre{% if game.genres|length > 1 %}s {% endif %} :
						</p>
						{% for genre in game.genres %}
							<a class="ml-1 text-indigo-100 hover:text-indigo-500" href="{{ path('app_genre', {'genre': genre.name}) }}">{{genre.name}}</a>
						{% endfor %}
						{# verifier si l'utilisateur à ajouter le jeu ou non #}
					</div>
					
						{% if app.user is empty %}
							<a href="{{ path('app_login') }}">LOG IN TO ADD</a>
						{% elseif game.gameUsers is not empty %}
							{% for gameUser in game.gameUsers %}
								<a class="flex justify-center items-center border-1 border-lime-300 rounded hover:font-normal p-1 m-2 text-sm text-white bg-lime-700 hover:bg-white hover:text-black hover:border-black added" href="{{ path('app_remove', {'gameUserId': gameUser.id}) }}">
									<svg width="12" height="9" viewbox="0 0 12 9" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;">
										<path d="M3.97 9L0 4.846l1.323-1.384L3.971 6.23 9.927 0l1.323 1.385z" fill="#FFF" fill-rule="evenodd"></path>
									</svg>
									<p class="white added-text">ADDED</p>
								</a>

							{% endfor %}
						{% else %}
							<a class="flex justify-center items-center border-1 border-slate-100 rounded hover:font-normal p-1 m-2 text-sm text-white bg-transparent  hover:text-black hover:border-black" href="{{ path('app_add_game', {'id': game.gameId}) }}">
								<p class="white added-text">ADD</p>
							</a>
						{% endif %}
					
				</div>
			</div>


		</div>
	{% endfor %}
</div>
