{% extends 'base.html.twig' %}

{% block title %}{{game.title}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/GameDetail.css') }}">
{% endblock %}
{% block body %}
	<div class="content">


		<div class="w-full flex flex-col screenContainer">
			<h2 class="text-4xl font-bold p-4 title">{{ game.title }}</h2>
			{% if game.screenshots %}
            <div class=" w-full flex flex-wrap">
			    {% for screenshot in game.screenshots %}
                    <div class="p-2">
                        <img class="screen" src="{{ screenshot }}" alt="screen" onclick="showModal('{{ screenshot }}')"/>
                    </div>
			    {% endfor %}
            </div>
			{% endif %}
			{% if game.summary %}
				<p id="summaryPreview">{{ game.summary|slice(0, 200) }}{{ game.summary|length > 100 ? '...' : '' }}</p>
				
				<p id="summaryFull" class="hidden">{{ game.summary}}</p>

				<p id="readMore" class="cursor-pointer">Read More</p>
				<p id="hide" class="cursor-pointer hidden">Hide</p>
			{% endif %}

			{% if game.website %}
				<a href="{{ game.website }}">{{ game.website }}</a>
			{% endif %}

			{% if game.releaseDate %}
				<p>Release Date :{{ game.releaseDate|date('d/m/Y') }}
			{% endif %}

			{% if game.genres %}
				<p>Genres :</p>
				{% for genre in game.genres %}
					<a href="{{ path('app_genre', {'genre': genre.name }) }}">{{ genre.name }}</a>
				{% endfor %}
			{% endif %}
			{% if game.tags %}
				<p>Tags :</p>
				<p>
				{% for tag in game.tags %}
					{{ tag.name }}
				{% endfor %}, 
				</p>
			{% endif %}
		</div>

		<div id="modal" class="hidden">
			<img id="modal-img" class="object-cover"/>
		</div>

		<a href="{{ path('app_add_game', {'id': game.gameId}) }}">ADD</a>
	</div>
	<style>
		.content {
			background: url({{ game.backgroundImage }})center no-repeat;
			background-size:cover;
			width:100%;
		}
	</style>


{% endblock %}
{% block javascripts %}
	<script src="{{ asset ('js/gameDetails.js') }}"></script>
{% endblock %}
