{% extends 'base.html.twig' %}

{% block title %}Project Masterpiece
{% endblock %}

{% block body %}
	<div class="w-full">

		{{ form_start(formSearch)}}
		{{ form_widget(formSearch.searchText)}}
		{{ form_end(formSearch)}}

		<div class="header">

			{{ form_start(formOrder) }}
			{{ form_widget(formOrder.ordering) }}
			<button type="submit">Submit</button>
			{{ form_end(formOrder) }}

		</div>
		{% include 'partials/card_container.html.twig' %}
	</div>
	<a href="{{ path('app_game_paginated', {'page': page + 1}) }}">Charger plus</a>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/game.js')}}"></script>

	{#<script src="{{ asset ('js/gameDetails.js') }}"></script>#}
{% endblock %}
