<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


		{% block stylesheets %}
			
		{% endblock %}
        {% block extra_stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
		{{ encore_entry_link_tags('app') }}


	</head>

	<body>

		<aside class="w-52">
			<div class="text-white bg-slate-900 flex flex-col w-full p-2 h-screen">
				<a class="flex justify-between  items-center" href="{{ path('app_game') }}" class="font-bold ml-2 p-2">
					<h4 class="text-2xl">Home Page</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>

				{% if app.user %}
					<a class="flex justify-between  items-center" href="{{ path('app_logout') }}" class="font-bold ml-2 p-2">
						<h4 class="text-2xl">Log Out</h4>
                        {% include 'partials/icon_selector.html.twig' %}
					</a>
					<a class="flex justify-between  items-center" href="{{ path('app_game_user_index') }}">
						<h4 class="text-2xl">MyGameList</h4>
                        {% include 'partials/icon_selector.html.twig' %}
					</a>
				{% else %}
					<a class="flex justify-between  items-center" href="{{ path('app_login') }}" class="font-bold ml-2 p-2">
						<h4 class="text-2xl">Log In</h4>
                        {% include 'partials/icon_selector.html.twig' %}
					</a>
				{% endif %}


				<a class="flex justify-between  items-center" href="{{ path('app_genre_selector') }}">
					<h3 class="text-2xl p-2">Genres</h3>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>

				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'action'}) }}">
					<h4>Action</h4>
					{% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'strategy'}) }}">
					<h4>Strategy</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'shooter'}) }}">
					<h4>Shooter</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'adventure'}) }}">
					<h4>Adventure</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'puzzle'}) }}">
					<h4>Puzzle</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'racing'}) }}">
					<h4>Racing</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_genre', {'genre': 'sports'}) }}">
					<h4>Sports</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>

				<a class="flex justify-between  items-center" href="{{ path('app_platform') }}">
					<h3 class="text-2xl p-2">Platforms</h3>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>

				<a class="flex justify-between  items-center" href="{{ path('app_platform_search', {'id': '4'}) }}">
					<h4>PC</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_platform_search', {'id': '187'}) }}">
					<h4>PS5</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_platform_search', {'id': '1'}) }}">
					<h4>Xbox One</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
				<a class="flex justify-between  items-center" href="{{ path('app_platform_search', {'id': '7'}) }}">
					<h4>Nintendo Switch</h4>
                    {% include 'partials/icon_selector.html.twig' %}
				</a>
			</div>
		</aside>
		{# {% include 'partials/nav_mobile.html.twig' %} #}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		<script src="{{ asset('js/navResponsive.js')}}"></script>

		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
		

	</body>

</html>
